@use '../utilities/' as u;

.footer {
  background: u.$grd-primary;
  &__wrapper {
    @include u.flex-center;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    overflow: hidden;
  }
  &__logo {
    @include u.flex-center;
    justify-content: start;
    position: relative;
    z-index: 9;

    background: url('../images/blob.svg');
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: 70rem;
  }
  &__socials {
    @include u.flex-center;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &__social {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    @include u.flex-center;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__social--facebook {
    svg {
      fill: #0984d6;
    }
  }
  &__social--youtube {
    svg {
      fill: #ff0303;
    }
  }
  &__social--twitter {
    svg {
      fill: #1da1f2;
    }
  }
  &__social--instgram {
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
