@use '../utilities/' as u;
.navigation {
  width: 80%;
  position: fixed;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
  margin-inline: auto;
  background-color: transparent;
  color: u.$clr-primary;
  z-index: 99;
  border-radius: u.$br-apple;
  backdrop-filter: blur(50px);
  // backdrop-filter: sepia(50%);
  border-color: u.$clr-dark;
  box-shadow: 1px 1px 1rem rgba(u.$clr-black, 0.2);

  &__navbar {
    @include u.flex-center;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    overflow: hidden;
  }
  &__logo {
    @include u.flex-center;
    justify-content: start;
    position: relative;
    z-index: 9;

    background: url('../images/blob.svg');
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: 70rem;
  }
  //   &__tabs {}
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.5rem;
  }
  &__cart-button {
    position: relative;
    cursor: pointer;
    svg {
      fill: u.$clr-primary;
      scale: 1.5;
    }
    .floating {
      top: -20%;
      left: -50%;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: u.$grd-secondary;
      color: u.$clr-white;
      @include u.flex-center;
      font-weight: 700;
    }
  }
  &__link a {
    position: relative;
    @include u.text-grd-primary;
    // color: u.$clr-calm-2;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    font-family: u.$fnt-body;
    &::after {
      content: '';
      display: block;
      background-color: u.$clr-calm-2;
      width: 100%;
      height: 0.3rem;
      position: absolute;
      top: 3rem;
      transform-origin: center;
      transform: scaleX(0);
      transition: all 0.3s ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  //   &__status {}
  &__username {
    @include u.flex-center;
    gap: 1rem;
    h2 {
      text-transform: capitalize;
      font-size: 1.5rem;
      color: u.$clr-dark;
    }
    button {
      @include u.button(u.$clr-white, u.$clr-primary, 1.2rem);
    }
  }
  &__login {
    a {
      @include u.button(u.$clr-white, u.$clr-dark, 1.5rem);
    }
  }
}
