@use '../utilities' as u;

h2,
h3 {
  font-family: u.$fnt-header;
  font-size: clamp(1.6rem, 20vw, 3rem);
}

h1 {
  font-family: u.$fnt-header;
  font-weight: 700;
  letter-spacing: 0.01em;
  // line-height: 2em;
  font-size: clamp(1.6rem, 10vw, 3rem);
  @include u.text-grd-secondary;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-family: u.$fnt-body;
  font-size: clamp(1.6rem, 20vw, 3rem);
}

ul {
  list-style: none;
}

a,
a:focus,
a:visited,
button,
button:focus,
button:visited {
  text-decoration: none;
  color: u.$clr-dark;
  outline: none;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: u.$clr-dark;
  outline: none;
  border: none;
  background-color: transparent;
}

p {
  font-size: clamp(1rem, 10vw, 2rem);
}
img {
  width: 100px;
}
svg {
  fill: u.$grd-primary;
  scale: 1.2;
}
