@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f2f2f2;
  color: #0d0d0d;
  font-family: "PT Sans Narrow", sans-serif;
  position: relative;
}

.container {
  width: 90%;
  max-width: 116rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.floating {
  position: absolute;
}

h2,
h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(1.6rem, 20vw, 3rem);
}

h1 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: clamp(1.6rem, 10vw, 3rem);
  background: linear-gradient(120deg, #6ad6e2 0%, #0a7171 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: clamp(1.6rem, 20vw, 3rem);
}

ul {
  list-style: none;
}

a,
a:focus,
a:visited,
button,
button:focus,
button:visited {
  text-decoration: none;
  color: #01021e;
  outline: none;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: #01021e;
  outline: none;
  border: none;
  background-color: transparent;
}

p {
  font-size: clamp(1rem, 10vw, 2rem);
}

img {
  width: 100px;
}

svg {
  fill: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  scale: 1.2;
}

.cart {
  z-index: 999999;
  width: 25vw;
  max-height: 94vh;
  background: rgba(191, 191, 191, 0.9);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 9vh;
  right: 1%;
  border-radius: 5px;
  box-shadow: 1px 1px 1rem rgba(13, 13, 13, 0.2);
  transform: translateX(110%);
  transition: all 0.3s ease;
  color: #01021e;
}
.cart.cart-toggle {
  transform: translateX(0);
}
.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
  background: #f26e21;
  padding: 0.5rem 1rem;
  border-radius: 10px 10px 0 0;
  padding: 1rem 2rem;
}
.cart__header h3 {
  font-size: 2.5rem;
}
.cart__header button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart__header button svg {
  scale: 0.9;
  fill: #f2f2f2;
}
.cart__items {
  height: 65vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 2rem 0.5rem;
  border-bottom: 5px solid #f2f2f2;
  background: rgba(242, 242, 242, 0.9);
}
.cart__item {
  margin-bottom: 1rem;
  background: rgba(191, 191, 191, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 1rem rgba(13, 13, 13, 0.2);
}
.cart .item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .item-header h3 {
  font-size: 1.8rem;
}
.cart .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.cart .item-img {
  width: 80px;
}
.cart .item-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}
.cart .item-action {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart .item-action button {
  cursor: pointer;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart .item-action button svg {
  width: 2rem;
  scale: 1.5;
  fill: #01021e;
}
.cart .item-action p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  font-size: 3rem;
}
.cart .item-remove {
  text-align: center;
}
.cart .item-remove button {
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-size: 1.6rem;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #c03102;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart .item-remove button:hover {
  background-color: #f2f2f2;
  color: #c03102;
}
.cart .item-remove button svg {
  width: 2rem;
  fill: #f2f2f2;
}
.cart .item-remove button:hover svg {
  fill: #c03102;
}
.cart__total-price {
  margin: 0.5rem auto 0rem;
  text-align: center;
  background: #01021e;
  padding: 0 6rem;
  width: max-content;
  border-radius: 0 5rem 0 5rem;
}
.cart__total-price span {
  color: #f2f2f2;
  font-size: 3rem;
}
.cart__total-price #cartTotalPrice {
  color: #bf9663;
}
.cart__checkout {
  text-align: center;
}
.cart__checkout button {
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-size: 1.6rem;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #0a7171;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 60%;
  margin-block: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart__checkout button:hover {
  background-color: #f2f2f2;
  color: #0a7171;
}
.cart__checkout button svg {
  fill: #f2f2f2;
}
.cart__checkout button:hover svg {
  fill: #c03102;
}

.navigation {
  width: 80%;
  position: fixed;
  left: 50%;
  top: 1vh;
  transform: translateX(-50%);
  margin-inline: auto;
  background: rgba(191, 191, 191, 0.5);
  color: #c03102;
  z-index: 999999999;
  border-radius: 0.3em;
  backdrop-filter: blur(50px);
  border-color: #01021e;
  box-shadow: 1px 1px 1rem rgba(13, 13, 13, 0.2);
}
.navigation__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  overflow: hidden;
}
.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 9;
  background: url("../images/blob.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-size: 70rem;
}
.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.5rem;
}
.navigation__cart-button {
  position: relative;
  cursor: pointer;
}
.navigation__cart-button svg {
  fill: #c03102;
  scale: 1.5;
}
.navigation__cart-button .floating {
  top: -20%;
  left: -50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(120deg, #6ad6e2 0%, #0a7171 150%);
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navigation__link a {
  position: relative;
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
}
.navigation__link a::after {
  content: "";
  display: block;
  background-color: #6ad6e2;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  top: 3rem;
  transform-origin: center;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.navigation__link a:hover::after {
  transform: scaleX(1);
}
.navigation__username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navigation__username h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #01021e;
}
.navigation__username button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #c03102;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navigation__username button:hover {
  background-color: #f2f2f2;
  color: #c03102;
}
.navigation__login a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #01021e;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navigation__login a:hover {
  background-color: #f2f2f2;
  color: #01021e;
}

.form {
  margin-block: 50px;
  margin-top: 10rem;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 20px;
  height: 60vh;
  padding: 2rem 0;
}

.form__info {
  flex: 1 1 40%;
}

.form__info h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 100;
  margin-bottom: 30px;
}

.form__info p {
  font-size: 20px;
  line-height: 1.5em;
}

.form__inputs {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__inputs .form__input {
  padding: 1rem 0.5rem;
  border: 2px solid skyblue;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.form__inputs .form__input:focus {
  border: solid 2px red;
}

.form__inputs .form__input.green-border:focus {
  border: solid 2px green;
}

.form__inputs button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 25px;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, #eca522 0%, #f26e21 150%);
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.form__inputs button svg {
  fill: #f2f2f2;
}
.form__inputs button:hover {
  background: #0d0d0d;
  color: #6ad6e2;
  transform: scale(1.05);
}
.form__inputs button:hover svg {
  fill: #6ad6e2;
}
.form__inputs button:active {
  transform: scale(0.9);
}
.form__inputs button:disabled {
  cursor: not-allowed;
  background: #b7bd98;
  color: cadetblue;
}
.form__inputs button:disabled:hover {
  transform: scale(1);
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 10rem;
}
.header__hero {
  height: 100vh;
  position: relative;
}
.header__hero-title {
  position: absolute;
  top: 30vh;
  right: 16vw;
  width: 25%;
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 999;
}

.slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider-section {
  position: absolute;
  top: 0;
}
.slider .carousol-container {
  overflow-x: hidden;
}
.slider-container {
  display: flex;
}
.slider-card {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-card .img {
  flex: 1 1 100%;
}
.slider-card .img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}
.slider #prevBtn,
.slider #nextBtn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  cursor: pointer;
}
.slider #prevBtn svg,
.slider #nextBtn svg {
  fill: #0a7171;
}
.slider #prevBtn {
  left: 10%;
}
.slider #nextBtn {
  right: 10%;
}

.shopping {
  position: relative;
}
.shopping__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping__wrapper input,
.shopping__wrapper select {
  padding: 2rem 3rem;
  border-bottom: 1px solid;
  border-color: #0a7171;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2em;
}
.shopping__filter {
  position: absolute;
  top: 1rem;
  left: -35rem;
  width: auto;
  height: 70vh;
  padding: 2rem 3rem;
  color: #c03102;
  background-color: rgba(106, 214, 226, 0.2);
  border-radius: 0.3em;
  backdrop-filter: blur(50px);
  border-color: #01021e;
  box-shadow: 1px 1px 1rem rgba(13, 13, 13, 0.2);
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5rem;
  transition: all 0.3s ease;
}
.shopping__filter:hover {
  left: 0rem;
}
.shopping__filter-close {
  overflow: hidden;
  right: 5rem;
  top: 2.7rem;
  padding: 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.shopping__filter-close svg {
  scale: 1;
  fill: #c03102;
}
.shopping__filter-close:hover {
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
}
.shopping__filter-close:hover svg {
  fill: white;
  scale: 0.8;
}
.shopping__filter-head {
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shopping__search {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping__search input {
  width: 40vw;
}
.shopping__products {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-inline: auto;
}
.shopping__product {
  flex: 0 1 25rem;
  box-shadow: 1px 1px 1rem rgba(13, 13, 13, 0.2);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.shopping__product .image {
  position: relative;
  overflow: hidden;
}
.shopping__product .image img {
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}
.shopping__product .product-info {
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 9;
  background: rgba(242, 242, 242, 0.9);
  backdrop-filter: blur(50px);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  padding: 1rem 1.5rem;
}
.shopping__product .title h2 {
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.shopping__product .description {
  margin-block: 2rem;
  font-size: 1.7rem;
  line-height: 1.5em;
}
.shopping__product .price {
  font-size: 2rem;
  background: linear-gradient(120deg, #6ad6e2 0%, #0a7171 150%);
  padding: 0.2rem;
  top: 0%;
  right: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.shopping__product .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  min-width: 4ch;
  color: #f2f2f2;
  top: 0%;
  left: 0;
  position: absolute;
  font-size: 2rem;
  background: linear-gradient(120deg, #eca522 0%, #f26e21 150%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.shopping__product .action {
  text-align: center;
}
.shopping__product .action button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #01021e;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.shopping__product .action button:hover {
  background: #bfbfbf;
  color: #01021e;
}
.shopping__product .action button svg {
  fill: #c03102;
}
.shopping__product:hover .rating {
  transform: scaleX(1);
}
.shopping__product:hover .price {
  transform: scaleX(1);
}
.shopping__product:hover .product-info {
  transform: scaleX(1);
}

.detailed {
  margin-block: 10rem 20rem;
  /* description */
  /* price */
  /* addToCart */
}
.detailed__wrapper {
  /**/
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
.detailed__img-container {
  width: 40%;
}
.detailed__img-container img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2rem;
}
.detailed__info {
  width: 40%;
  /*category*/
  /* title */
}
.detailed__info h5 {
  color: #b7bd98;
  margin-bottom: 5px;
  font-size: 15px;
  letter-spacing: 0.01px;
  text-transform: uppercase;
}
.detailed__info h2 {
  font-size: 4rem;
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 1em;
}
.detailed__brand-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  /* brand */
  /* rate */
}
.detailed__brand-rate h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 700;
  color: #f2f2f2;
  background: linear-gradient(120deg, #6ad6e2 0%, #0a7171 150%);
  padding: 0.5rem 2rem;
  border-radius: 0 5rem 0 5rem;
}
.detailed__brand-rate h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  color: #01021e;
  position: relative;
}
.detailed__brand-rate h3::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 23%;
  left: -65%;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3rem;
  z-index: -1;
}
.detailed p {
  color: #bfbfbf;
  margin-bottom: 5rem;
  font-size: 3rem;
}
.detailed__price {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detailed button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 25px;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, #eca522 0%, #f26e21 150%);
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.detailed button svg {
  fill: #f2f2f2;
}
.detailed button:hover {
  background: #0d0d0d;
  color: #6ad6e2;
  transform: scale(1.05);
}
.detailed button:hover svg {
  fill: #6ad6e2;
}
.detailed button:active {
  transform: scale(0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.bg-1 {
  flex: 1;
  background-color: rgb(180, 243, 175);
}

.bg-2 {
  flex: 1;
  background-color: rgb(163, 236, 240);
}

.about-container {
  width: 85%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 24px 24px 30px #6d8dad;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
}

.text-container h1 {
  font-size: 70px;
  padding: 20px 0px;
}

.text-container a {
  text-decoration: none;
  padding: 12px;
  margin: 50px 0px;
  background-color: rebeccapurple;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.text-container a:hover {
  background-color: transparent;
  color: black;
  border: 2px solid rebeccapurple;
}

@media screen and (max-width: 1600px) {
  .about-container {
    width: 90%;
  }
  .image-container img {
    width: 400px;
    height: 400px;
  }
  .text-container h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .about-container {
    flex-direction: column;
  }
  .image-container img {
    width: 300px;
    height: 300px;
  }
  .text-container {
    align-items: center;
  }
}
.footer {
  background: linear-gradient(120deg, #c03102 0%, #f26e21 100%);
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  overflow: hidden;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 9;
  background: url("../images/blob.svg");
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-size: 70rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer__social {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.footer__social:hover {
  transform: scale(1.1);
}
.footer__social--facebook svg {
  fill: #0984d6;
}
.footer__social--youtube svg {
  fill: #ff0303;
}
.footer__social--twitter svg {
  fill: #1da1f2;
}
.footer__social--instgram img {
  width: 100%;
  border-radius: 50%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form button:hover,
.login-form button:active,
.login-form button:focus {
  background: #43a047;
}

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login-form .message a {
  color: #4caf50;
  text-decoration: none;
}

.login-form .register-login-form {
  display: none;
}

/*# sourceMappingURL=main.css.map */
